
@{
    ViewBag.Title = "UploadExcel";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}


<main>
    <div class="container mb-auto">
        <h2>Excelファイルアップロード</h2>
        <div class="card" style="border: none;">
            <div class="card-body">
                <form enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <p class="h4">ID</p>
                        <input type="text" class="form-control" name="Id" placeholder="IDを入力してください。" value="" />
                    </div>
                    <div class="form-group">
                        <p class="h4">説明</p>
                        <textarea name="Description" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <p class="h4">ファイル名</p>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input" />
                                <label class="custom-file-label" data-browse="参照">ファイルを選択</label>
                            </div>
                        </div>
                        <script>
                            $(".custom-file-input").change(function (e) {
                                var file_path = e.target.value.split("\\");
                                $(".custom-file-label").text(file_path[file_path.length - 1]);
                            });
                        </script>
                    </div>
                    <input type="submit" value='登録' class="btn btn-primary btn-lg" name="upload" />
                </form>
            </div>
        </div>
    </div>
</main>

